.Sort-Country button:nth-child(1){
    border-radius: 7px 0px 0px 7px;
    width: 80px;
    background-color: #d6d7d4;
    border: 1px solid;

}
.Sort-Country button:nth-child(2){
    border-radius: 0px 7px 7px 0px;
    width: 80px;
    background-color: #d6d7d4;
    border: 1px solid;

}